$primary: #fb642d;
$secondary: #f1ece9;
$light: #ced4da;
$dark: #353535;
$success: #03a696;
$danger: #f3033c;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
$rubik-font-family: "Rubik", sans-serif;

// Import Bootstrap SCSS
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/bootstrap";

$body-font-family: $rubik-font-family;
$headings-font-family: $rubik-font-family;
$rubik-font-weight-light: 300;
$rubik-font-weight-normal: 400;
$rubik-font-weight-bold: 700;

.custom-bg {
  background-image: url("/images/img-4.png");
  background-size: 100% auto;
  background-position: center;
}
a {
  text-decoration: none;
}
.custom-logo-size {
  width: 10em;
}
.custom-letter-spacing {
  letter-spacing: 0.1em;
}
