$primary: #fb642d;
$secondary: #ced4da;
$light: #e9ecef;
$dark: #353535;
$success: #03a696;
$danger: #f3033c;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
$rubik-font-family: "Rubik", sans-serif;

// Import Bootstrap SCSS
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/bootstrap";

$body-font-family: $rubik-font-family;
$headings-font-family: $rubik-font-family;
$rubik-font-weight-light: 300;
$rubik-font-weight-normal: 400;
$rubik-font-weight-bold: 700;

.custom-bg {
  background-image: url("/images/img-4.png");
  background-size: 100% auto;
  background-position: center;
}
a {
  text-decoration: none;
}
.custom-logo-size {
  width: 10em;
}
.custom-logo-size-feed {
  width: 7em;
}
.custom-letter-spacing {
  letter-spacing: 0.1em;
}

.custom-avatar-size {
  width: 1.8em;
  height: auto;
}

// NAVBAR

.custom-height-pre-navbar {
  height: 2em;
}

.custom-collapse {
  display: flex;
}

.custom-toggler {
  border: none;
}

.navbar-collapse {
  padding: 10px; /* Add padding */
  border-radius: 10px; /* Add border radius */
  width: max-content;
  transition: max-height 0.3s ease-in-out;
}

.navbar-nav .nav-link {
  display: inline-block;
}

.navbar-nav .nav-link.active {
  font-weight: bold; /* Make the active link bold */
}
.custom-hero-size {
  width: 15em;
}
.custom-width-inputs {
  max-width: 30em;
}

.custom-input-size {
  max-width: 120em;
}

.custom-small-font {
  font-size: 0.9em;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $primary;
  text-decoration: none;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  width: 800px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}
.custom-hover-search:hover,
.custom-hover-search:active,
.custom-hover-search:focus {
  outline: none;
}

.custom-max-width-listings-cont {
  max-width: 100em;
}

/* PROFILE */

.custom-hero-size-profile {
  max-width: 12em;
  width: 100%;
  min-width: 6em;
}
